@media (min-width: 1145px) {
    body{
        background-image: url("../assets/bg-img.png");
    }

    main {
        max-width: fit-content;
        padding: 9.5rem 6rem;

        flex-direction: row;
        gap: 16rem;
    }

    .recipe {
        max-width: 43.5rem;
    }

    .how-to-do {
        max-width: 52.5rem;
        gap: 4.7rem;
    }

    .btn {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }

}